
/* css reset  */
*{
    margin: 0;
    padding: 0;
}


/* store primary color */
:root{
    --color:#562EFF;
}


/* import fonts from google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;

}

/* header style */
.header{
    width: 100vw;
    height: 94px;
    background-color: var(--color);
    
}

.nav-container{
    margin: 0 auto;
    max-width: 870px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.nav-container .left img{
    width: 40px;
    height: 51px;
    margin-right: 15px;
}
.nav-container .left p{
    color: white;
    font-weight: 400;
    font-size: 16px;
}
.nav-container .right img{
    width: 51px;
    height: 51px;
}
.left , .right , .right ul{
    display: flex;
    align-items: center;
}
ul{
    list-style-type: none;
}
.right ul li{
    margin-right: 36px;
}

.right ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

/* setup main section */
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main section{
    max-width: 870px;
    margin-top: 36px;
}

/* top player section style  */
.section-title{
    color: var(--color);
    margin-bottom: 40px;
    font-weight: 500;
font-size: 24px;

}
.top{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px 0px;
    margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player h3{
    font-weight: 500;
font-size: 18px;
}

.player img{
    height: 56px;
    width: 56px;
    margin-right: 16px;
}
.top hr{
    margin-bottom: 30px;
    border: 1px solid #D1D1D1;

}


/* style for the blog section  */
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 26px 46px;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
}
.blog-title{
    margin-bottom: 6px;
    font-weight: 500;
font-size: 20px;
line-height: 34px;

}
.blog-des p{
    font-weight: 400;
    font-size: 16px;
}
.author{
color: var(--color);
}


/* courses section style */
.courses{
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin-bottom: 30px;
}

.courses-container{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap: 24px;
}
.course{
    border-radius: 8px;
    padding: 12px;
    box-shadow: 1px 1px 15px rgb(232, 229, 229);
}

.course-title{
    font-weight: 500;
font-size: 20.0336px;
margin-bottom: 7px;
}
.course-publisher{
    font-weight: 400;
font-size: 14.6913px;
color: #ED6B4F;
margin-bottom: 20px;
}
.course > img {
    width: calc(100% - 4px);
    margin-bottom: 20px;
}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.fa-clock{
    margin-right: 5px;
}

.duration img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.duration{
    background: #FFE4E8;
border-radius: 14.6913px;
color: red;
padding: 5px;
}
.rating{
font-weight: 400;
font-size: 14.6913px;
color: #A2A2A2;
margin-left: 5px;

}


/* media queries */

/* media queried for mobile device */
@media only screen and (max-width:668px) {

    .main,.header, .nav-container{
        width: 100%;
        margin: 0px;
    }

    .top-players{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }.player{    flex-direction: column;}
    .top{
        width: 100%;
        align-items: center;
        padding: 20px;
    }
    .top-blogs{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
    }
    .section-title{
        text-align: center;
    }
    .courses-container{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
    }

}


/* media queries for tablet */

@media only screen and (min-width:669px) and (max-width:992px) {
    .top-players, .courses-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .main,.nav-container{
        width: 100%;
    }     .section-title{
        text-align: center;
    }
}